@model IEnumerable<Proyecto.Models.CarritoRam>

@{
    ViewBag.Title = "carritoComprasRam";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<h2>CARRITO DE COMPRAS · RAM</h2>

<header><center>@Html.ActionLink("Realizar Compra", "comprarRam", null, new { @class = "btn btn-success" })</center></header>
<br />

@Html.Partial("_PartialCarritoRam")